


<div class="d-flex mt-5 w-100">

	<div class="border-end bg-white p-2 flex-shrink-1 mt-5">

		<div class="list-group list-group-flush mt-5 mb-2">
			<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Orders">Orders</a>
			<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Bookings">Bookings</a>
			<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Contacts">Contacts</a>
			<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Users">Users</a>
		</div>
	</div>

	<div class="mt-lg-5 p-2 w-75 mx-auto">


		<div class="grey-bg container-fluid">



			<div class="row">
				<div class="col-12 mt-3 mb-1">
					<h4 class="text-uppercase"><strong>Site </strong>Overview</h4>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-6 col-md-12">
					<div class="card overflow-hidden">
						<div class="card-content">
							<div class="card-body cleartfix">
								<div class="media align-items-stretch">
									<div class="align-self-center">
										<i class="icon-pencil primary font-large-2 mr-2"></i>
									</div>
									<div class="media-body">
										<h4>Total Users</h4>
										<span>Total users registered</span>
									</div>
									<div class="align-self-center">
										<h1>@ViewBag.TotalUsers</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-6 col-md-12">
					<div class="card">
						<div class="card-content">
							<div class="card-body cleartfix">
								<div class="media align-items-stretch">
									<div class="align-self-center">
										<i class="icon-speech warning font-large-2 mr-2"></i>
									</div>
									<div class="media-body">
										<h4>Total Orders</h4>
										<span>Total Orders Received</span>
									</div>
									<div class="align-self-center">
										<h1>@ViewBag.TotalOrders</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row"> 
			<div class="col-xl-6 col-md-12">
					<div class="card">
						<div class="card-content">
							<div class="card-body cleartfix">
								<div class="media align-items-stretch">
									<div class="align-self-center">
										<i class="icon-speech warning font-large-2 mr-2"></i>
									</div>
									<div class="media-body">
										<h4>Total Bookings</h4>
										<span>Table Bookings Received</span>
									</div>
									<div class="align-self-center">
										<h1>@ViewBag.TableBookings</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-6 col-md-12">
					<div class="card">
						<div class="card-content">
							<div class="card-body cleartfix">
								<div class="media align-items-stretch">
									<div class="align-self-center">
										<i class="icon-speech warning font-large-2 mr-2"></i>
									</div>
									<div class="media-body">
										<h4>Total Revenue</h4>
										<span>Total Revenue Received</span>
									</div>
									<div class="align-self-center">
										<h1>$ @ViewBag.Revenue</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-xl-6 col-md-12">
					<div class="card">
						<div class="card-content">
							<div class="card-body cleartfix">
								<div class="media align-items-stretch">
									<div class="align-self-center">
										<h1 class="mr-2">$ @ViewBag.RevenueToday</h1>
									</div>
									<div class="media-body">
										<h4>Today's Revenue</h4>
										<span>Revenue Received Today</span>
									</div>
									<div class="align-self-center">
										<i class="icon-wallet success font-large-2"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-6 col-md-12">
					<div class="card">
						<div class="card-content">
							<div class="card-body cleartfix">
								<div class="media align-items-stretch">
									<div class="align-self-center">
										<i class="icon-speech warning font-large-2 mr-2"></i>
									</div>
									<div class="media-body">
										<h4>Today's Bookings</h4>
										<span>Bookings Received Today</span>
									</div>
									<div class="align-self-center">
										<h1>@ViewBag.TodayBookings</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-xl-6 col-md-12">
					<div class="card">
						<div class="card-content">
							<div class="card-body cleartfix">
								<div class="media align-items-stretch">
									<div class="align-self-center">
										<i class="icon-speech warning font-large-2 mr-2"></i>
									</div>
									<div class="media-body">
										<h4>Today's Orders</h4>
										<span>Orders Received Today</span>
									</div>
									<div class="align-self-center">
										<h1>@ViewBag.TodayOrders</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-6 col-md-12">
					<div class="card">
						<div class="card-content">
							<div class="card-body cleartfix">
								<div class="media align-items-stretch">
									<div class="align-self-center">
										<i class="icon-speech warning font-large-2 mr-2"></i>
									</div>
									<div class="media-body">
										<h4>Products</h4>
										<span>Total Products</span>
									</div>
									<div class="align-self-center">
										<h1>@ViewBag.TotalProducts</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				</div>
			</div>

			</div>

			</div>





