@model IEnumerable<PizzaWebApp.Models.ShippingAddress>

<section style="background-color: white;">
  <div class="container h-100 mb-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        
      
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 mb-5">

                <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Your Shipping Details</p>
                    @{
                            if (ViewBag.NewUser)
                                {

                                         <div class="flex-column justify-content-center mx-4 mb-3 mb-lg-4">
                                            <div class="d-flex flex-column">
                                            <label class="form-label" for="form3Example3c">Street:</label>
                                            <label class="form-label" for="form3Example3c">City:</label>
                                            <label class="form-label" for="form3Example3c">Postal Code:</label>
                                            <label class="form-label" for="form3Example3c">Name:</label>
                                            <label class="form-label" for="form3Example3c">Surname:</label>
                                            <label class="form-label" for="form3Example3c">Phone Number:</label>
                                        </div>
                                            <h5 class="text-danger text-center m-3">Please add your shipping address first</h5>
                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                 <a class="btn btn-primary btn-lg" asp-controller="ShippingAddress" asp-action="AddAddress">Add Address</a>
                                            </div>
                                            

                                    </div>

                            }
                            else
                            {
                                

                            foreach(var item in Model)
                            {

                                
                               
                                    
                                         <div class="d-flex flex-row align-items-center mb-3">
                                         <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="d-flex flex-column">
                                            <label class="form-label" for="form3Example3c"><strong class="shippingDetails">Street: </strong>@item.Street</label>
                                            <label class="form-label" for="form3Example3c"><strong>City: </strong>@item.City</label>
                                            <label class="form-label" for="form3Example3c"><strong>Postal Code: </strong>@item.PostalCode</label>
                                            <label class="form-label" for="form3Example3c"><strong>Name: </strong>@item.Name</label>
                                            <label class="form-label" for="form3Example3c"><strong>Surname: </strong>@item.Surname</label>
                                            <label class="form-label" for="form3Example3c"><strong>Phone Number: </strong>@item.PhoneNumber</label>
                                        </div>
                                        </div>
                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          
                                            <button class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Register">Update Address</button>
                                        </div>

                                
                            }
                        }
                 }
                            

               

                </div>
                 <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="/img/delivery.jpg"
                  class="img-fluid" alt="Sample image">

              </div>
                </div>
             
            </div>
          </div>
       
      </div>
    
 
</section>